* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.create-robot {
  font-family: "Inter", serif;
  border: 1px solid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  font-size: 3.6rem;
}

.header{
  
  display: flex;
  justify-content: space-between;

  &-icon{
    width: 150px;
    height: 150px;
    object-fit: cover;
            &:hover{
          cursor: pointer;
        }
  }

  &-info{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-top{
      text-transform: uppercase;
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      &-button{
        display: flex;
        font-size: inherit;
        padding: 15px;
        border: none;
        border-radius: 18px;
        background-color: #D9D9D9;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &-bottom{
      &-span{
        color: red;
        font-size: 16px;
      }
    }
  }
}

.form{
  &-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    & label {
      font-weight: bold;
    }
  
    &-vairants{
      display: flex;
      flex-direction: column;
      gap: 20px;

      & label{
        font-weight: bold;
      }
    }

    &-media{
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative; 
      width: 100%; 
      height: 450px; 
      border-radius: 5px; 
      overflow: hidden; 
      background-color: transparent; 
      cursor: pointer; 
    }

    &-list{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-input{
    padding: 20px;
    font-size: 0.8em;

    &-checkbox{
      accent-color: #7fff00;
      margin-left: 30px;
      transform: scale(4);
      cursor: pointer;
      margin-right: 40px;
    }

    &-file{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%; 
      opacity: 0;
      cursor: pointer; 
      z-index: 10;
    }
    &-list{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      gap: 20px;
      flex-wrap: wrap;
      row-gap: 50px;

      &-button{
        width: 90px;
        font-size: inherit;
        height: 90px;
        border: 1px solid #ccc; 
        border-radius: 0;
        background-color: #f0f0f0; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
      }

      &-item{
        width: 90px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        ::placeholder{
          text-align: center;
        }

        & span{
          color: #ff1a1a;
          cursor: pointer;
        }
      }
    }

    &-media{
      position: relative;
      background-image: url('../../../public/image\ 12.png'); 
      background-repeat: no-repeat;
      background-position: center;
      border: #000 solid 2px;
      border-radius: 10px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 10px; /* Отступ снизу для подписи */

      &::after{
        content: "Оберіть файл";
        color: #000;
        text-align: center; 
      }
    }
  }
  &-area{
    height: 500px;
  }
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.answer-checkbox {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  cursor: pointer;
}

.answer-input {

  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: inherit;

}

.BLOCK-Q{
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  border-bottom: #000 solid;
  gap: 50px;
}

.answer-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: #ff4d4d;
  font-size: inherit;
  line-height: 1;
}

.answer-delete-btn:hover {
  background-color: #ffe6e6;
}

.add-answer-btn {
  margin-top: 10px;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
}

.add-answer-btn:hover {
  background-color: black;
  color: white;
}



.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list li {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list li span {
  flex-grow: 1;
}

.file-list li button {
  background-color: #ff4d4d;
  color: white;
  font-size: inherit;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-list li button:hover {
  background-color: #ff1a1a;
}

.WORNING{
  margin-top: 30px;
  color: red;
  text-align: center;
  margin-bottom: 100px;
}

.section{
  &-1{
    border-bottom: #000 solid;
    padding-bottom: 40px;
    &-form{
      display: flex;
      flex-direction: column;
      gap: 30px;


      &-button{
        height: 120px;
        background-color: #000;
        color: #fff;
        font-size: inherit;
        border-radius: 25px;
      }
    }
  }

  &-qestions{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
    border-bottom: #000 solid 2px;
    margin-top: 40px;
  }
}



.matrix{
  font-size: inherit;
  display: grid;
  justify-content: center;
  gap: 1px;
  margin-top: 20px;

  &-input[type="number"] {
    font-size: inherit;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;

    &  label {
      font-weight: bold;
      margin-right: 5px;
    }

    &  input {
      font-size: 64px;
      font-size: inherit;
      width: 50px;
      height: 50px;
      padding: 5px;
      margin-right: 10px;
    }

    &  button {
      padding: 5px 10px;
      font-size: inherit;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.pair-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  align-items: center;
}

.pair-label {
  font-weight: bold;
}

.pair-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.pair-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pair-title {
  font-weight: bold;
}

.pair-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pair-input {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: inherit;
}

.pair-delete-btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
}

.pair-delete-btn:hover {
  color: #e60000;
}

.add-pair-btn {
  font-size: inherit;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-pair-btn:hover {
  background-color: black;
  color: #D9D9D9;
}

.pair-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.node-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.node-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.node-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.node-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.node-title {
  font-weight: bold;
}

.node-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.node-symbol {
  font-weight: bold;
}

.node-input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.node-delete-btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
}

.node-delete-btn:hover {
  color: #e60000;
}

.add-node-btn {
  font-size: inherit;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-node-btn:hover {
  background-color: black;
  color: #D9D9D9;
}



.red{
  color: red;
}

.delete-button{
  font-size: inherit;
  padding: 10px;
  transition: all 0.5s ease-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.01);
    background-color: #e60000;
    color: white;
  }
}

.footer1 {
  font-size: inherit;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  &-text {
    grid-column: 1 / -1;
  }

  &-button {
    font-size: inherit;
    padding: 20px;

  
    &:hover {
      background-color: #7fff00;
      cursor: pointer;
    }
  }
}
