.main {
  display: flex;
  flex-direction: column;
  gap: 22px;
  &-block {
    display: flex;
    border: #000 solid;
    border-radius: 0;
    background-color: #FFF;
    height: 85px;
    padding: 8px 20px;
    align-items: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    &-number {
      border-radius: 10000px;
      border: #000 solid;
      justify-content: center;
      display: flex;
      height: 70px;
      width: 70px;
      align-items: center;
      text-align: center;
      background-color: #fff;
      margin-right: 20px;
    }

    &-title {
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-progress {
      margin-left: auto;
      white-space: nowrap;
      margin-right: 20px;
      &-value {
        border-radius: 100px;
        border: #000 solid;
        justify-content: center;
        display: flex;
        height: 70px;
        width: 70px;
        align-items: center;
        text-align: center;
        background-color: #fff;
      }
    }
  }
}
