.footer{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  display: flex;
  justify-content: end;
  &-button{
    font-size: 30px;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 10, 235); 

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
