@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.test-item {
  font-family: "Inter", serif;
  border: 1px solid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  font-size: 3.6rem;
}

.header-test-item {
  background-color: #fff;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 20px;
  gap: 20px;
}

.goHome{
  height: 100px;
  font-size: inherit;
  transition: background-color 0.5s ease-in-out;
}

.goHome:hover{
  background-color: #7fff00;
  cursor: pointer;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-header-test-item{
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  z-index: 1000;
  background-color: #fff;
  margin-bottom: 20px;
}

.main-header-button{
  padding: 5px;
  width: 10%;
  background-color: D9D9D9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease;
  text-transform: uppercase;
}

.main-header-button-active{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 235);
}

.main-header-button:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 235);
}

.main-header-pole{
  font-size: 20px;
  padding: 5px;
  height: 50px;
  width: 40%;
  border: 2px solid rgb(0, 0, 0); /* Стандартный стиль */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.main-header-pole:hover{
  border: 2px solid #ff0004; /* Граница при наведении */
  box-shadow: 0 0 10px rgba(255, 0, 4, 0.5); /* Эффект тени */

}

.main-header-pole:focus{
  border: 2px solid #ff0004; /* Граница при фокусе */
  box-shadow: 0 0 10px rgba(255, 0, 4, 0.5); /* Эффект тени */

}

.main-header-pole::placeholder{
  font-size: 20px;

}

.main-block {
  display: grid; /* Включаем CSS Grid */
  grid-template-columns: 80px 1fr auto auto; /* Определяем структуру колонок */
  grid-column-gap: 20px; /* Расстояние между колонками */
  align-items: center; /* Выравнивание по вертикали */
  border: #000 solid;
  border-radius: 0;
  background-color: #FFF;
  height: 85px;
  padding: 1px 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.main-block:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-block-number {
  border-radius: 10000px;
  border: #000 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  text-align: center;
  background-color: #fff;
}

.main-block-title {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-block-group {
  justify-self: end; /* Прижимаем к правому краю */
  white-space: nowrap;
}

.main-block-progress {
  justify-self: end; /* Прижимаем к правому краю */
  white-space: nowrap;
}


.main-block-progress-value{
  border-radius: 100px;
  border: #000 solid;
  justify-content: center;
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  text-align: center;
  background-color: #fff;
}


.highlight {
  background-color: rgb(0, 0, 0);
  transition: background-color 2s ease;
}
