* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.golovna {
  font-family: "Inter", serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  font-size: 3.6rem;
}

.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10000000;
  animation: fadeInOut 5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.flash-message a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.flash-message:hover {
  background-color: #45a049;
}

.progress-bar {
  height: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  transition: width 0.05s linear;
}
