* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.golovna {
  font-family: "Inter", serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  font-size: 3.6rem;
}