.main {
  display: flex;
  flex-direction: column;
  gap: 22px;

  &-header {
    display: flex;
    gap: 10px;
    justify-content: center;

    &-button {
      padding: 5px;
      width: 10%;
      background-color: D9D9D9;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      transition: transform 0.3s ease;
      text-transform: uppercase;

      &-active{
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 235);
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 235);
      }
    }

    &-pole {
      font-size: 20px;
      padding: 5px;
      height: 50px;
      width: 40%;
      border: 2px solid rgb(0, 0, 0); /* Стандартный стиль */
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      outline: none;

      &:hover {
        border: 2px solid #ff0004; /* Граница при наведении */
        box-shadow: 0 0 10px rgba(255, 0, 4, 0.5); /* Эффект тени */
      }

      &:focus {
        border: 2px solid #ff0004; /* Граница при фокусе */
        box-shadow: 0 0 10px rgba(255, 0, 4, 0.5); /* Эффект тени */
      }

      &::placeholder {
        font-size: 20px;
      }
    }
  }
}

.highlight {
  background-color: rgb(0, 0, 0);
  transition: background-color 2s ease;
}
