* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


.test {
  font-family: "Inter", serif;
  border: 1px solid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  font-size: 3.6rem;
}

.header2{
  display: flex;
  justify-content: space-between;

  &-icon{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &-info{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-top{
      text-transform: uppercase;
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      &-button{
        display: flex;
        font-size: inherit;
        padding: 15px;
        border: none;
        border-radius: 18px;
        background-color: #D9D9D9;
      }
    }
    &-bottom{
      &-span{
        color: red;
        font-size: 16px;
      }
    }
  }
}

.form{
  &-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  
    &-vairants{
      display: flex;
      flex-direction: column;
      gap: 20px;

      & label{
        font-weight: bold;
      }
    }

    &-media{
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative; 
      width: 100%; 
      height: 450px; 
      border-radius: 5px; 
      overflow: hidden; 
      background-color: transparent; 
      cursor: pointer; 
    }

    &-list{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-input{
    padding: 20px;
    font-size: 0.8em;

    &-checkbox{
      accent-color: #7fff00;
      margin-left: 30px;
      transform: scale(4);
      cursor: pointer;
      margin-right: 20px;
    }

    &-file{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%; 
      opacity: 0;
      cursor: pointer; 
      z-index: 10;
    }
    &-list{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      gap: 20px;
      flex-wrap: wrap;
      row-gap: 50px;

      &-button{
        width: 90px;
        font-size: inherit;
        height: 90px;
        border: 1px solid #ccc; 
        border-radius: 0;
        background-color: #f0f0f0; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
      }

      &-item{
        width: 90px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        ::placeholder{
          text-align: center;
        }

        & span{
          color: #ff1a1a;
          cursor: pointer;
        }
      }
    }

    &-media{
      position: relative;
      background-image: url('image 12.png'); 
      background-repeat: no-repeat;
      background-position: center;
      border: #000 solid 2px;
      border-radius: 10px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 10px; /* Отступ снизу для подписи */

      &::after{
        content: "Оберіть файл";
        color: #000;
        text-align: center; 
      }
    }
  }
  &-area{
    height: 500px;
  }
}

.section{
  &-1{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: #000 solid;
    padding-bottom: 40px;
    &-form{
      display: flex;
      flex-direction: column;
      gap: 30px;


      &-button{
        height: 120px;
        background-color: #000;
        color: #fff;
        font-size: inherit;
        border-radius: 25px;
      }
    }
  }

  &-qestions{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
    border-bottom: #000 solid 2px;
    margin-top: 40px;
  }
}